doctype html5
html
  head
    title Dominic Barker [Software Engineer]
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="stylesheet", href="//f.fontdeck.com/s/css/JH8WV/TLmDja/gpz7inMvAqeHnU/localhost/43640.css", type="text/css")
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.0.0/animate.min.css")
    link(rel="stylesheet", href="/public/stylesheets/style.css")    
    link(rel="shortcut icon", href="/public/images/favicon.ico") 
    script.
      $(function(){
          function bindAnimation(index, element){
            var thing = $(this);
            thing.waypoint(function(){
              thing.addClass('animated fadeInDown')
            }, { offset: '90%' });            
          }
          $('.tech').find('li').each(bindAnimation);
          $('.contact').find('li').each(bindAnimation);
      });   
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-49017800-1', 'dombarker.co.uk');
        ga('send', 'pageview');
    block head
  body
    div(class="container container-fluid", itemscope, itemtype="http://data-vocabulary.org/Person")
      #content
        block content
