doctype html5
html
  head
    title Dom Barker [Software Engineer]
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    meta(name="description", content="Ruby on Rails and Node.js development in Hertfordshire")
    meta(name="keywords", content="node,node.js,ruby,ruby on rails,hitchin,hertfordshire,software,sofware engineering,sofware development")
    link(rel="shortcut icon", href="/public/images/favicon.ico") 
    link(rel="stylesheet", href="//f.fontdeck.com/s/css/JH8WV/TLmDja/gpz7inMvAqeHnU/#{host}/43640.css", type="text/css")
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.0.0/animate.min.css")
    link(rel="stylesheet", href="/public/stylesheets/style.css")    

    meta(name="twitter:card" content="summary")
    meta(name="twitter:creator" content="@MostlyHarmlessD")
    meta(name="twitter:title" content="Dominic Barker [Software Engineer]")
    meta(name="twitter:description" content="I am a Hertfordshire based engineer with over 10 years experience of solving challenging technical problems. My main focus is full stack web and mobile development. I'm a passionate supporter of truly agile processes and regard Test Driven Development as being the only way to write good software.")
    meta(name="twitter:image" content="http://dombarker.co.uk/public/images/square-collar.jpg")

    script(data-main="public/javascripts/app.js" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.min.js")
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-49017800-1', 'dombarker.co.uk');
        ga('send', 'pageview');
    block head
  body
    div(class="container container-fluid", itemscope, itemtype="http://data-vocabulary.org/Person")
      #content
        block content
