extends ../layouts/layout
block head
block content
	header
		.logo-wrapper
			object.logo(data="public/logo-collar.svg")
		.name
			h1.logo TerrierTech
			h2 javascript consultancy
			.spacer
	.row
		.content
			section.about
				h3 About
				p.
					TerrierTech is software engineering consultancy providing advice on building software applications with cutting edge javascript and related technologies.
					We can assist across the whole software stack from stylesheets right the way through to the database.
				h4 Single Page applications
				p.
					While immersive user experiences are an essential part of a successful product, the pace of innovation in Model View Controller frameworks and other technologies is bewildering.
					TerrierTech has extensive experience in working with all of the major MVC frameworks starting with the venerable <a href="http://backbonejs.org/" title="backbone.js" target="blank">Backbone</a> and leading to the futuristic <a target="blank" href="https://facebook.github.io/react/" title="react.js">React</a>.
					If you have a greenfield project and need help picking between <a href="http://emberjs.com/" title="ember.js" target="blank">Ember</a> and <a href="http://knockoutjs.com/" title="knockout" target="blank">Knockout</a> or have a legacy <a href="https://angularjs.org/" title="angular.js" target="blank">Angular</a> application that needs tuning we are able to help.
				h4 Javascript on the server
				p.
					<a href="https://nodejs.org/" target="blank" title="node.js">Node.js</a> is a breakthrough technology that is performant, scalable and accessible. It has made asyncronous programming easier than ever before whilst allowing web developers to use a language that they are already familar with - Javascript.
					Being able to write your server software in the same language as your client side code provides unique opportunies to reduce the bugs and inconsistencies that always result from code duplication as well as new ways to architect applications.
					It also enables teams to solve some of the issues that SPA's have with accessiblity, mobile performance and SEO by rendering your applications on the server.
				h4 Testing
				p.
					Testing javascript applications has always been arduous, but also necessary due to the dynamic languages lacking the type safety that comes with a compiler.
					Modern testing libaries provide many features that make verifying that you applications work as expected with far less pain than you might expect.
					TerrierTech will build you a test suite that gives you the confidence that you need without big maintenance costs or onerous build times.
					We are big fans of <a href="http://jasmine.github.io/" target="blank" title="jasmine">Jasmine</a>, <a href="http://mochajs.org/" target="blank" title="mocha">Mocha</a> and the brilliant <a href="http://karma-runner.github.io/0.12/index.html" title="karma" target="blank">Karma</a> test runner.

			section.contact
				h3 Contact
				p If you want to get in touch, feel free to use one of these:
				ul.js-hide
					li
						.icon
							a(href="https://github.com/Dakuan", title="Contact me on github" rel="author")
								i.fa.fa-github
					li
						.icon
							a(href="http://uk.linkedin.com/in/dombarker", title="Connect with me on LinkedIn" rel="author")
								i.fa.fa-linkedin
					li
						.icon
							a(href="mailto:info@terriertech.io", title="Drop me an email" rel="author")
								i.fa.fa-envelope
					li
						.icon
							a(href="https://twitter.com/techterrier", title="Tweet me" rel="author")
								i.fa.fa-twitter
