extends ../layouts/layout
block head
block content
	header(class="row")
		div(class="logo-wrapper")
			object(data="public/logo-collar.svg", width="80px", class="logo")
		div(class="name")
			h1(itemprop="name") Dom Barker
			h2(itemprop="title") software engineer
			hr
	div(class="row")
		div(class="content")
			section(class="about")
				h3 About
				p(itemtype="http://data-vocabulary.org/Address", itemscope) I am a <span itemprop="region" itemprop="location">Hertfordshire</span> based <span itemprop="role">engineer</span> with over 10 years experience of solving challenging technical problems. My main focus is full stack web and mobile development. I'm a passionate supporter of genuine agile processes and regard Test Driven Development as being the best way to write complex software that works well.
				p I prefer to use the right tool to solve the task in hand, rather than specialising in any particular technology. I am especially enthusiastic about open source, rapid development toolsets like <a href="http://rubyonrails.org/" title="Ruby On Rails">Ruby on Rails</a> and <a href="http://nodejs.org/" title="Node.js">Node.js</a>.
				p <a href="http://www.openxo.com/" itemprop="organization" title="OpenXO">OpenXO</a> is my current employer and we are making wifi awesome. I'm very happy there and am not currently seeking projects elsewhere.
			section(class="tech")
				h3 Tech
				ul
					li
						div(class="icon")		
							object(data="public/node.svg",width="80px")
					li
						div(class="icon")
							object(data="public/ruby.svg",width="80px")
					li
						div(class="icon")
							i(class="fa fa-html5")
					li
						div(class="icon")
							i(class="fa fa-css3")

			section(class="contact")
				h3 Contact
				ul
					li
						div(class="icon")
							a(href="https://github.com/Dakuan", title="Contact me on github")
								i(class="fa fa-github")
					li
						div(class="icon")
							a(href="http://uk.linkedin.com/in/dombarker", title="Connect with me on LinkedIn")
								i(class="fa fa-linkedin")
					li
						div(class="icon")
							a(href="mailto:dom.barker808@gmail.com", title="Drop me an email")
								i(class="fa fa-envelope")
					li
						div(class="icon")
							a(href="https://twitter.com/MostlyHarmlessD", title="Tweet me")
								i(class="fa fa-twitter")
